## Location of the root abc checkout
abc.loc=../abc

jastadd.loc=../JastAddJ
jastadd.exts.loc=../JastAddExtensions

# ---- shouldn't need to edit beneath this line ---- #
frontend=${jastadd.loc}/Java1.4Frontend

flattening=${jastadd.exts.loc}/JavaFlattening
itds=${jastadd.exts.loc}/IntertypeDeclarations
backend=${jastadd.exts.loc}/JimpleBackend
