# You can use either jar files or classes directories for each location
# However, to build the abc-complete.jar file (part of the jars target),
# you must use jar files.

## Location of Polyglot classes jar
polyglot.loc=/usr/local/src/polyglot-dev/lib/polyglot.jar
#polyglot.loc=${user.home}/polyglot-1.2.0-src/classes

## Location of Polyglot cup-classes (if not included in Polyglot jar)
polyglot.cupclasses.loc=/usr/local/src/polyglot-dev/lib/java_cup.jar
#polyglot.cupclasses.loc=${user.home}/polyglot-1.2.0-src/cup-classes

## Location of JFlex classes jar
jflex.loc=/usr/local/src/polyglot-dev/lib/JFlex.jar

## Location of Soot classes (can also be sootclasses jar)
soot.loc=/usr/local/src/soot-dev/lib/sootclasses-custom.jar

## Location of Jasmin classes
jasmin.loc=/usr/local/src/jasmin-dev/lib/jasminclasses-custom.jar

## Location of xact jar
xact.loc=/usr/local/src/xact/java/xact-complete.jar

## Location of paddle jar
paddle.loc=/usr/local/src/paddle-dev/lib/paddle-custom.jar

## Location of Jedd runtime classes jar file
jedd.runtime.jar=/usr/local/src/jedd-dev/runtime/lib/jedd-runtime.jar

## Location of JavaBDD distribution
javabdd.jar=/usr/local/src/resources/JavaBDD/javabdd_0.6.jar

