## Location of Polyglot classes jar
polyglot.loc=../abc-lib/polyglot.jar

## Location of Polyglot cup-classes (if not included in Polyglot jar)
polyglot.cupclasses.loc=../abc-lib/java_cup.jar

## Location of JFlex classes jar
jflex.loc=../abc-lib/JFlex.jar

## Location of Soot classes (can also be sootclasses jar)
soot.loc=../abc-lib/sootclasses-2.1.0.jar

## Location of Jasmin classes
jasmin.loc=../abc-lib/jasminclasses-sable-1.2.jar
