<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- New Project Wizard -->
	
	<extension point = "org.eclipse.ui.newWizards">
	<wizard id = "org.jastadd.plugin.jastadd.NewProjectWizard"
		name = "New JastAdd Project"
		preferredPerspectives = "org.jastadd.plugin.jastaddj.JastAddJPerspective"
		project = "true"
		finalPerspective = "org.jastadd.plugin.jastaddj.JastAddJPerspective"
		class = "org.jastadd.plugin.jastadd.NewProjectWizard">
 		<description>Create a new JastAdd Project</description>
		<selection class = "org.eclipse.core.resources.IResource"/>
	</wizard>
	</extension>

	<!-- Nature -->
	
	<extension point = "org.eclipse.core.resources.natures"
		id = "org.jastadd.plugin.jastadd.Nature"
		name = "JastAdd Nature">
	<runtime>
		<run class = "org.jastadd.plugin.jastadd.Nature"/>
	</runtime>
	<builder id = "org.jastadd.plugin.builder.JastAddBuilder"/>
	</extension>

	<!-- Register the JastAdd model -->
	
	<extension point="org.jastadd.plugin.model.JastAddModelProvider"
        id="org.jastadd.plugin.jastadd.Model"
        name="JastAddModel">
		<provider class="org.jastadd.plugin.jastadd.Model"/>
 	</extension>
 	
 	
 	<extension point = "org.eclipse.ui.commands">
		<command
			name = "Find Equations"
			id = "org.jastadd.plugin.jastadd.equations"
			description = "JastAdd Find Equations"
			categoryId = "org.jastadd.plugin.category.source">
		</command>
 	</extension>
 	
 	<extension point = "org.eclipse.ui.handlers">
	<handler
		class = "org.jastadd.plugin.jastadd.FindEquationsHandler"
		commandId = "org.jastadd.plugin.jastadd.equations">
		<activeWhen>
			<with variable = "activeContexts">
				<iterate operator = "or">
					<equals value = "org.jastadd.plugin.JastAddEditorScope"/>
				</iterate>
			</with>
		</activeWhen>
	</handler>
	</extension>
	
	<extension point = "org.eclipse.ui.bindings">
	<key sequence = "F6"
		commandId = "org.jastadd.plugin.jastadd.equations"
		schemeId = "org.eclipse.ui.defaultAcceleratorConfiguration"
		contextId = "org.jastadd.plugin.jastaddj.JastAddJEditorContext"/>
	</extension>	
	
	<extension point = "org.eclipse.ui.popupMenus">
	<viewerContribution 
		id = "org.jastadd.plugin.jastaddj.editor.JastAddJPopupAction"
		targetID = "#TextEditorContext">
		<!--menu
			id = "org.jastadd.plugin.jastaddj.editor.JastAddJFindMenu"
			label = "Find"
			path = "additions">
			<separator name = "findGroup"/>
		</menu-->
		<action
			id = "org.jastadd.plugin.jastadd.FindEquationsAction" 
			label = "Equations"
			menubarPath = "org.jastadd.plugin.jastaddj.editor.JastAddJFindMenu/findGroup"
			definitionId = "org.jastadd.plugin.jastadd.equations"
			class = "org.jastadd.plugin.jastadd.FindEquationsHandler">
		</action> 
	</viewerContribution>
	</extension>
	
	<extension point = "org.eclipse.ui.actionSets">
	<actionSet id = "org.jastadd.plugin.jastaddj.search.actionSet"
		label = "JastAddJ Search Actions"
		visible = "false">
		<menu
			label = "Search"
			path = "navigate"
			id = "org.eclipse.search.menu">
			<groupMarker name = "internalDialogGroup"/>   
			<groupMarker name = "dialogGroup"/>
			<separator name = "fileSearchContextMenuActionsGroup"/>
			<separator name = "contextMenuActionsGroup"/>
			<separator name = "occurencesActionsGroup"/>
			<separator name = "extraSearchGroup"/> 
		</menu>
		<action
			label = "Find Equations"
			class = "org.jastadd.plugin.jastadd.FindEquationsHandler"
			menubarPath = "org.eclipse.search.menu/dialogGroup"
			definitionId = "org.jastadd.plugin.jastadd.equations"
			id = "org.jastadd.plugin.jastadd.FindEquationsAction">
		</action>
	</actionSet>
	</extension>
</plugin>