<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
   <!-- Core Markers -->
   
	<extension point = "org.eclipse.core.resources.markers"
		id = "org.jastadd.plugin.marker.ErrorMarker"
		name = "JastAdd Error">
	<super
		type = "org.eclipse.core.resources.problemmarker">
	</super>
	<persistent
		value = "true">
	</persistent>
	</extension>

	<extension point = "org.eclipse.core.resources.markers"
		id = "org.jastadd.plugin.marker.ParseErrorMarker"
		name = "JastAdd Parse Error">
	<super
		type = "org.eclipse.core.resources.problemmarker">
	</super>
	<persistent
		value = "true">
	</persistent>
	</extension>   

	<!-- Core Resource View -->   
   
	<extension point = "org.eclipse.ui.views">
	<view
		class="org.jastadd.plugin.navigator.JastAddResourceNavigator"
		id="org.jastadd.plugin.navigator"
		name="JastAddNavigator">
	</view>
	</extension>

	<!-- Core Search Management -->
	
	<extension point = "org.eclipse.search.searchResultViewPages"
		id = "org.jastadd.plugin.SearchResultPage">
	<viewPage
		id = "org.jastadd.plugin.search.JastAddSearchResultPage"
		searchResultClass = "org.jastadd.plugin.search.JastAddSearchResult"
		class = "org.jastadd.plugin.search.JastAddSearchResultPage">
	</viewPage>
	</extension>

	<!-- Core Editing Context -->

	<extension point="org.eclipse.ui.contexts">
	<context
		name="Editing JastAdd Source"
		description="Editing JastAdd Source"
		parentId="org.eclipse.ui.textEditorScope"
		id="org.jastadd.plugin.JastAddEditorScope">
	</context>
	</extension>
   
   <!-- Core Perspective -->
   
	<extension point = "org.eclipse.ui.perspectives">
	<perspective
		class = "org.jastadd.plugin.perspective.JastAddPerspectiveFactory"
		id = "org.jastadd.plugin.JastAddPerspective"
		name = "JastAdd">
	</perspective>
	</extension>

	<!-- JastAddJ New Project Wizard -->
	<!--
	*<extension point = "org.eclipse.ui.newWizards">
	<wizard id = "org.jastadd.plugin.wizards.JastAddJNewProjectWizard"
		name = "New JastAddJ Project"
		icon = "icons/obj16/ja_fldr_obj.gif"
		preferredPerspectives = "org.jastadd.plugin.JastAddJPerspective"
		project="true"
		finalPerspective="org.jastadd.plugin.JastAddJPerspective"
		class = "org.jastadd.plugin.wizards.JastAddNewProjectWizard">
 		<description>Create a New JastAddJ Project</description>
		<selection class = "org.eclipse.core.resources.IResource"/>
	</wizard>
	</extension>
	-->
</plugin>
