<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="org.jastadd.plugin.jastaddNature"
         name="JastAdd Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.jastadd.plugin.builder.JastAddNature"/>
      </runtime>
      <builder id="org.jastadd.plugin.jastaddBuilder"/>
   </extension>

   <extension
         id="jastaddBuilder"
         name="JastAdd Builder"
         point="org.eclipse.core.resources.builders">         
<!--         
    <extension
         id="org.jastadd.plugin.jastaddBuilder"
         name="JastAdd Builder"
         point="org.eclipse.core.resources.builders">
-->         
      <builder hasNature="true">
         <run class="org.jastadd.plugin.builder.JastAddBuilder"/>
      </builder>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.jastadd.plugin.contribution1">
            
         <action
               label="Add/Remove JastAdd Nature"
               class="org.jastadd.plugin.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.jastadd.plugin.addRemoveNatureAction">
         </action>
      
      </objectContribution>
     
      <viewerContribution 
         id="org.jastadd.plugin.editor.JastAddPopupAction"
         targetID="#TextEditorContext">
         
         <menu
           id="org.jastadd.plugin.editor.JastAddMenu"
           label="JastAdd"
           path="additions">
        <separator name="group1"/>
        </menu>
        
        <action
           id="org.jastadd.plugin.editor.jastAddAction" 
           label="Find declaration"
           menubarPath="org.jastadd.plugin.editor.JastAddMenu/group1" 
           class="org.jastadd.plugin.editor.JastAddActionDelegate"
           definitionId="org.jastadd.plugin.findDeclaration"> 
        </action> 
        
      </viewerContribution>
   </extension>
   
   <!--
   <extension
	point="org.eclipse.ui.contexts">
	<context
		name="%context.editingText.name"
		description="%context.editingText.description"
		id="org.jastadd.plugin.editor.context"
		parentId="org.eclipse.ui.contexts.window">
	</context>
  </extension>
  
    <extension point="org.eclipse.ui.actionSets">
      <actionSet label="JastAdd ActionSet"
            id="org.jastadd.plugin.actionSet">
      <action
               label="JastAdd find declaration"
               id="org.jastadd.plugin.findDeclaration"
               class="org.jastadd.plugin.editor.JastAddActionDelegate">
         </action>
      </actionSet>
   </extension>
  
  
  <extension point="org.eclipse.ui.bindings">
     <key sequence="F3"
            commandId="org.jastadd.plugin.findDeclaration"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  </extension>
  -->
  
   
   <extension
      point="org.eclipse.debug.core.breakpoints">
    <breakpoint
        class="org.jastadd.plugin.debug.JastAddBreakpoint"
        id="org.jastadd.plugin.debug.jastaddBreakpoint"
        markerType="org.jastadd.plugin.debug.jastaddBreakpointMarker"
        name="JastAdd Breakpoint"/>
   </extension>
   
   <extension 
     id="org.jastadd.plugin.debug.jastaddBreakpointMarker" 
     name="JastAdd Breakpoint Marker"
     point="org.eclipse.core.resources.markers">
	<super type="org.eclipse.debug.core.breakpointMarker"/>
   </extension>
   
   
   <extension
         id="org.jastadd.plugin.marker.ErrorMarker"
         name="JastAdd Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
      <extension
         id="org.jastadd.plugin.marker.ParseErrorMarker"
         name="JastAdd Parse Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>   
   
   <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
         <!-- Currently the delegate class is subclassing org.eclipse.jdt.launching.JavaLaunchDelegate
         which is a subclass of org.eclipse.jdt.launching.AbstractJavaLaunchConfigurationDelegate
         which is a subclass of org.eclipse.debug.core.model.ILaunchConfigurationDelegate
         The ILaunchconfigurationDelegate is mentioned as the super class for the value
         of the delegate class attribute. Maybe it is better to try and subclass that class
         and avoid the Java specific launch classes.. ? -->
   <launchConfigurationType
         delegate="org.jastadd.plugin.launcher.JastAddLaunchDelegate"
         id="org.jastadd.plugin.launchConfigurationType"
         modes="run, debug"
         name="JastAdd Launcher">
         <!-- This could be declared here. It seems to be used even if it's excluded
         sourceLocatorId="org.jastadd.plugin.launcher.SourceLocator">
         -->
   </launchConfigurationType>
	</extension>
   
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    	<launchConfigurationTabGroup
        	type="org.jastadd.plugin.launchConfigurationType"
        	class="org.jastadd.plugin.launcher.JastAddTabGroup"
        	id="org.jastadd.plugin.launcher.TabGroup">
    	</launchConfigurationTabGroup>
	</extension>
	
	<extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            name="JastAdd Source Locator"
            class="org.jastadd.plugin.launcher.JastAddSourceLocator"
            id="org.jastadd.plugin.launcher.SourceLocator">
      </sourceLocator>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jastadd.plugin.editor.JastAddEditor"
            extensions="java"
            icon="icons/obj16/java.gif"
            id="org.jastadd.plugin.editor.JastAddEditor"
            name="JastAdd Editor">
      </editor>
   </extension>
   
   <!--
   <extension point="org.eclipse.core.runtime.adapters">
     <factory class="org.jastadd.plugin.eclipse.debug.examples.ui.pda.model.PDABreakpointAdapterFactory"
       adaptableType="org.jastadd.plugin.editor.JastAddEditor">
       <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
     </factory>
   </extension>
   -->
</plugin>
