<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- New Project Wizard -->
	
	<extension point = "org.eclipse.ui.newWizards">
	<wizard id = "org.jastadd.plugin.jastadd.NewProjectWizard"
		name = "New JastAdd Project"
		preferredPerspectives = "org.jastadd.plugin.jastaddj.JastAddJPerspective"
		project = "true"
		finalPerspective = "org.jastadd.plugin.jastaddj.JastAddJPerspective"
		class = "org.jastadd.plugin.jastadd.NewProjectWizard">
 		<description>Create a new JastAdd Project</description>
		<selection class = "org.eclipse.core.resources.IResource"/>
	</wizard>
	</extension>

	<!-- Nature -->
	
	<extension point = "org.eclipse.core.resources.natures"
		id = "org.jastadd.plugin.jastadd.Nature"
		name = "JastAdd Nature">
	<runtime>
		<run class = "org.jastadd.plugin.jastadd.Nature"/>
	</runtime>
	<builder id = "org.jastadd.plugin.builder.JastAddBuilder"/>
	</extension>
	
	<!-- JastAddJ Build Configuration -->
 
	<extension point = "org.eclipse.ui.propertyPages">
	<page
		objectClass = "org.eclipse.core.resources.IProject"
		name = "JastAddJ Build Configuration"
		class = "org.jastadd.plugin.jastaddj.builder.ui.JastAddJBuildConfigurationPropertyPage"		
		id = "org.jastadd.plugin.jastadd.JastAddBuildConfigurationPropertyPage">
		<filter
			name = "nature"
			value = "org.jastadd.plugin.jastadd.Nature">
		</filter>
	</page>
 <page
       class="org.jastadd.plugin.jastadd.properties.JastAddBuildConfigurationPropertyPage"
       id="org.jastadd.plugin.jastadd.JastAddFlexBuildConfigurationPropertyPage"
       name="JastAdd Build Configuration"
       objectClass="org.eclipse.core.resources.IProject">
    <filter
          name="nature"
          value="org.jastadd.plugin.jastadd.Nature">
    </filter>
 </page>
	</extension>

	<!-- Register the JastAdd model -->
	
	<extension point="org.jastadd.plugin.model.JastAddModelProvider"
        id="org.jastadd.plugin.jastadd.Model"
        name="JastAddModel">
		<provider class="org.jastadd.plugin.jastadd.Model"/>
 	</extension>
 	
 	<!-- JastAdd Aspect Editor -->
 
	<extension point = "org.eclipse.ui.editors">
	<editor
		class = "org.jastadd.plugin.jastaddj.editor.JastAddJEditor"
		extensions = "jrag,jadd"
		icon = "icons/obj16/jrag.gif"
		id = "org.jastadd.plugin.jastadd.JastAddAspectEditor"
		contributorClass="org.jastadd.plugin.jastaddj.editor.JastAddJEditorContributor"  
		name = "JastAdd Aspect Editor">
	</editor>

    <!-- JastAdd Grammar Editor -->
 	<editor
		class = "org.jastadd.plugin.jastadd.ASTEditor"
		extensions = "ast"
		icon = "icons/obj16/ast.gif"
		id = "org.jastadd.plugin.jastadd.JastAddGrammarEditor"
		contributorClass="org.jastadd.plugin.jastaddj.editor.JastAddJEditorContributor"  
		name = "JastAdd Grammar Editor">
	</editor>
	
	<!-- JFlex Editor -->
 	<editor
		class = "org.jastadd.plugin.jastadd.JFlexEditor"
		extensions = "flex"
		icon = "icons/obj16/flex.gif"
		id = "org.jastadd.plugin.jastadd.JFlexEditor"
		contributorClass="org.jastadd.plugin.jastaddj.editor.JastAddJEditorContributor"  
		name = "JFlex Editor">
	</editor>
	
	<!-- Parser Editor -->
 	<editor
		class = "org.jastadd.plugin.jastadd.ParserEditor"
		extensions = "parser"
		icon = "icons/obj16/parser.gif"
		id = "org.jastadd.plugin.jastadd.ParserEditor"
		contributorClass="org.jastadd.plugin.jastaddj.editor.JastAddJEditorContributor"  
		name = "Parser Editor">
	</editor>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          class="org.jastadd.plugin.jastadd.debugger.attributes.AttributeView"
          id="org.jastadd.plugin.jastadd.debugger.attributes.AttributeView"
          name="Attribute View">
    </view>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="org.jastadd.plugin.jastadd.debug.contextmenu"
          targetID="org.eclipse.debug.ui.VariableView">
       <action
             class="org.jastadd.plugin.jastadd.debugger.attributes.ShowAttributeAction"
             id="org.jastadd.plugin.jastadd.debugger.attributes.ShowAttributeAction"
             label="Show Attributes"
             menubarPath="additions"
             tooltip="Show the attributes for this particular variable.">
       </action>
    </viewerContribution>
 </extension>
	
 	
</plugin>
